*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
html{
    background-color: black;
}
h1,h2,h3,p{
    color: white;
}

/* NAVIGATION BUTTONS*/
header{
    position: sticky;
    top: 0;
    background-color: black;
    z-index:2;
}

nav{
    display: flex;
    height: 12vh;
    padding: 1% 6%;
    justify-content: space-around;
    align-items: center;
}
nav img{
    width: 120px;
    border-radius: 10px;
    padding: 10px;
}
nav img:hover{
    box-shadow: 0 0 20px 0 rgba(255, 254, 254, 0.3);
    transition: 0.5s;
}
.nav-links{

    display: flex;
    justify-content:flex-end;
    width: 30%;
}
.nav-links li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
}
.nav-links li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
}
.nav-links li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links li:hover::after{
    width: 100%;
}
.nav-links li:hover{
    cursor: pointer;
}

.burger{
    display: none;
}
.burger .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/* NAVIGATION BUTTONS*/



/* HOME PAGE*/
/* home page card*/
#confetti-canvas{
    top:70%;
    position: absolute;
    width: 100%;
    overflow: hidden;
}
.homepage-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 0;
}
.homepage-card .img{
    width: 100%;
    padding: 120px 70px;
    background: hwb(0 95% 3% / 0.5) url('../Images/code.gif') ;
    box-shadow: 0 0 40px 0 rgba(0,0,0, 0.7);
}
.homepage-card .span-hello{
    font-size: 10rem;
    font-style: italic;
    font-weight: 900;
    color:white;
    transition: 0.5s;
}
.homepage-card .span-hello:hover{


    cursor: pointer;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 40px #fff,
                 0 0 80px #fff,
                 0 0 120px #fff,
                 0 0 160px #fff;
}
.homepage-card p{
    padding: 20px 10px;
    font-size: 2rem;
    font-style: normal;
    font-weight: 750;
    color: white;
    font-family: 'Prompt', sans-serif;
    background-color: rgba(0,0,0,0.2);
    border-radius: 15px;
}
.homepage-card .span-name:hover{
    content:none;
}

/* section two*/
.section-two{
    margin-top: 10%;
    margin-bottom: 0;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    column-gap: 2%;
    height: 50vh;
    text-align: center;
    align-content: center;
}
.section-two div{
    margin:1% 1%;
}
.section-two .aboutme-name{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:4% 5%;
    font-size: 1.75rem;

}
.section-two .aboutme-name span{
    color:#f44336;
}
.section-two .aboutme-name h2{
    margin-top:1%;
}
.section-two .aboutme-name .btn{
    margin-bottom: 10%;
}
.section-two .aboutme-aboutme{
    padding:5% 10%;
    transform: 2s;
}
.section-two .aboutme-aboutme h3{
    margin: 0;
    padding: 0% 0% 3%;
    font-size: 2rem;
    border-bottom: 2px solid white;
}
.section-two .aboutme-aboutme p{
    margin: 0;
    padding: 3% 0% 0%;
    font-size: 1.25rem;
}
/*section2 end*/
/*section3*/
.wrapper{
    max-width: 1080px;
    margin: 50px auto;
    padding: 0 20px;
    position: relative;
  }
  .wrapper .center-line{
    position: absolute;
    height: 100%;
    width: 4px;
    background: #fff;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
  }
  .wrapper .row{
    display: flex;
  }
  .wrapper .row-1{
    justify-content: flex-start;
  }
  .wrapper .row-2{
    justify-content: flex-end;
  }
  .wrapper .row section{
    background: #737171;
    border-radius: 5px;
    width: calc(50% - 40px);
    padding: 20px;
    position: relative;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);;
  }
  .wrapper .row section::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #737171;
    top: 28px;
    z-index: -1;
    transform: rotate(45deg);
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.7);;
  }
  .row-1 section::before{
    right: -7px;
  }
  .row-2 section::before{
    left: -7px;
  }
  .row section .icon,
  .center-line .scroll-icon{
    position: absolute;
    background: #000;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #f44336;
    font-size: 17px;
    box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
  }
  .center-line .scroll-icon{
    bottom: 0px;
    left: 50%;
    font-size: 25px;
    transform: translateX(-50%);
  }
  .row-1 section .icon{
    top: 15px;
    right: -60px;
  }
  .row-2 section .icon{
    top: 15px;
    left: -60px;
  }
  .row section .details,
  .row section .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .row section .details .title{
    font-size: 22px;
    font-weight: 600;
  }
  .row section p{
    margin: 10px 0 17px 0;
  }
  .row section .bottom a{
    text-decoration: none;
    background: #f44336;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
    /* font-size: 17px; */
    font-weight: 400;
    transition: all 0.3s ease;
  }
  .row section .bottom a:hover{
    transform: scale(0.97);
  }
  @media(max-width: 790px){
    .wrapper .center-line{
      left: 40px;
    }
    .wrapper .row{
      margin: 30px 0 3px 60px;
    }
    .wrapper .row section{
      width: 100%;
    }
    .row-1 section::before{
      left: -7px;
    }
    .row-1 section .icon{
      left: -60px;
    }
  }
  @media(max-width: 440px){
    .wrapper .center-line,
    .row section::before,
    .row section .icon{
      display: none;
    }
    .wrapper .row{
      margin: 10px 0;
    }
  }
  /*section3 end*/
/* button design*/
.btn{
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    padding: 20px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    font-weight: 600;
    background: rgba(0,0,0,0.5);
    position: relative;
    cursor: pointer;
}
.btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 0.5s;
}

/* HOME PAGE end*/


/*footer*/
footer{
    width:100%;
    text-align:center;
    padding:30px 0;
    color: white;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.footer-icons .fa{
    color: white;
    margin:0 13px;
    cursor: pointer;
    padding:18px 0;
}
.footer-icons .fa:hover{
    color: #f44336;
    transition: 0.5s;
}
.footer-trademark p{
    margin-bottom: 25px;
    margin-top: 10px;
    font-size: 10px;
    font-weight: 400;
    font-style: italic;
}
/*footer*/







/*contact page*/
.location{
    width:100%;
    height:500px;
    margin: 0px 0px 100px;
}
.location iframe{
    height:100%;
}
.contact-us{
    width: 80%;
    margin:auto;
}
.contact-us .row{
    display: flex;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    color: white;
}
.contact-col div .fa{
    font-size: 28px;
    color: white;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 400;
}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}